.info-detail {
  padding: 0;
  text-align: center;
}

.text-center {
  display: flex;
  justify-content: center;
  text-align: center;
}

.MuiBox-root,
.css-jm3i9k {
  margin: 0 auto !important;
}

.detail-item {
  text-align: left;
}

.ul-details {
  list-style: circle;
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
}

.subtitle {
  font-weight: bold;
  font-size: 1rem;
}


.link-to-cart{
  text-align: center;
  padding-bottom: 10px;
}