.card-item {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.product-image {
  width: 100%;
  object-fit: contain;
  height: 200px;
}

.btn-primary a{
  color: white;
  text-decoration: none;
}